.movie-info-container {
  display: grid;
  grid-template-rows: auto auto min-content min-content repeat(3, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 9.5rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  margin-top: 3.78rem;
}
