.side-drawer {
  height: 100%;
  background: var(--primaryColor);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  max-width: 400px;
  z-index: 200000000;
  transform: translateX(-100%);
  transition: transform 0.4s ease-out;

  &.open {
    transform: translateX(0);
  }

  a {
    color: var(--darkGrey);
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
  }

  .btn {
    display: block;
    padding: 25px 0;
  }

  ul {
    height: 100%;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      box-sizing: border-box;
      text-align: center;
      border-bottom: 1px solid var(--mainWhite);
      width: 100%;
      padding: 0.5rem 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;

  &:hover {
    background: var(--primaryColor)
      radial-gradient(circle, transparent 1%, var(--primaryColor) 1%)
      center/15000%;
  }
  &:active {
    background-color: #88f5c4;
    background-size: 100%;
    transition: background 0s;
  }
}
