.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(5, 0, 0);
  z-index: 100000000;

  .toolbar-wrapper {
    max-width: 1220px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .toolbar__logo {
    margin-top: 8px;
    margin-left: 0rem;

    a img {
      text-decoration: none;
      width: 112px;
    }
  }

  .spacer {
    flex: 1;
  }

  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      padding-left: 1rem;
      font-size: 26.5px;
    }

    a {
      color: var(--mainWhite);
      text-decoration: none;
      transition: 0.4s;

      &:hover,
      &:active {
        color: var(--primaryColor);
      }
    }
  }
}

@media (max-width: 1220px) {
  .toolbar-wrapper {
    padding: 0 15px;
  }
}

@media (max-width: 775px) {
  .toolbar {
    .toolbar_navigation-items {
      display: none;
    }

    .toolbar__logo {
      margin-bottom: 4px;
      margin-top: 9px;

      a img {
        width: 100px;
        margin-left: -5px !important;
      }
    }
  }

  .toolbar-wrapper {
    height: 4rem;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}
