.biography {
  grid-column: center-start / center-end;

  background-color: var(--mainWhite);
  padding: 2rem 12rem 2rem 2rem;

  &__title {
    font-size: 1.6rem;
    color: var(--darkGrey);
  }

  &__anchor {
    color: var(--lightGreen2);
    transition: 0.4s;

    &:hover {
      color: var(--darkGreen);
    }
  }

  @media (max-width: 1220px) {
    grid-column: full-start / full-end;
    padding: 2rem;
  }

  @media (max-width: 500px) {
    padding: 2rem 1.1rem;
  }

  & span {
    font-size: 1rem !important;
    line-height: 1.6;
  }
}
