@font-face {
  font-family: "SF-Movie";
  src: url("../../utils/sf-movie-poster.regular.ttf");
}

.card {
  display: flex;
  justify-content: space-around !important;
  margin: 10px auto;
  border-radius: 4px;
  background-color: var(--mainWhite);
  transition: 0.6s;
  animation: animateCard 1s;

  &__img {
    width: 100%;
    border-radius: 34px;
  }

  &__details {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 96%;
    height: 40%;
    padding: 4% 1%;
    position: absolute;
    top: 78%;
    left: 50%;

    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    background: rgba(51, 67, 110, 0.92);
    opacity: 0;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    border: 2px solid red;
  }

  &__title {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300 !important;
    font-family: "Arial";
    margin: 0;
    color: var(--mainWhite);
  }

  &__release-date {
    margin: 0;
    font-size: 14.5px;
    color: var(--mainWhite);
  }

  &__star-rating {
    .react-rater-star {
      font-size: 1.3rem;
    }
  }

  &:hover {
    filter: brightness(130%);

    .card__details {
      transform: translate(-50%, -50%) rotateY(0deg);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1325px) {
  .card {
    flex: 0 1 calc(24.9% - 0.5rem);
  }
}

@media screen and (max-width: 855px) {
  .card {
    flex: 0 1 calc(30% - 0.5rem);
  }
}

@media (max-width: 675px) {
  .details {
    display: none;
  }

  .frame {
    min-height: 5vh;
  }
}

@media screen and (max-width: 455px) {
  .card {
    flex: 0 1 calc(33% - 0.8rem);
  }

  .scroll-up-button {
    width: 44px !important;
    height: 40px !important;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    flex: 0 1 calc(18.9%);
  }
}

@keyframes animateCard {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
