.banner {
    grid-column: center-start / center-end;
    background-color: rgb(190, 190, 190);

    @media(max-width:1220px) {
        grid-column: full-start / full-end;
    }

    &__inner {
        display: block;
        background: $base-color;
        float: left;
        position: relative;
    }

    &__custom-bg-poster {
        z-index: -1;
        opacity: 0.7;
        width: 100%;
    }

    &__play-btn {
        display: block;
        position: absolute;
        width: 200px;
        padding: 18px 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        opacity: 1;
        transition: opacity .35s ease;

        color: white;
        border: solid 2px white;
        cursor: pointer;

        i.fa-play {
            color: var(--primaryColor);
        }

        &:hover {
            box-shadow: 0 1rem 2rem rgba(black, .2);

            &::after {
                transform: scaleX(1.6) scaleY(2.4);
                opacity: 0;
            }
        }

        &::after {
            content: '';
            background-color: var(--primaryColor);
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
            opacity: .3;
        }
    }

    &__modal {
        position: absolute;
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 90vw;
        background-color: red;

        &__iframe {
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100%;
            border: 0;
        }
    }

}

.ReactModal__Content {
    background-color: #000 !important;
    width: 76% !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}