.person-container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 9.5rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: auto repeat(4, min-content);

  margin-top: 3.78rem;

  grid-column: center-start / center-end;
  height: 93.1vh;
}
